<div class="nav-container fixed-left">
  <div class="main-infos">
    <h1>Anne <br>de Joly</h1>
    <p>Full-stack developer</p>
  </div>

  <ul class="menu-navbar">
    <li>About</li>
    <li>Experience</li>
    <li>Projects</li>
    <li>Skills</li>
    <li>Education</li>
    <li>Contact</li>
    <li>Hobbies</li>
    <li>Resume</li>
  </ul>
</div>
