<div id="about-section">
  <h3 class="section-title">About</h3>
  <h5 class="quote">Junior full-stack developer, Ruby on Rails focused.</h5>
  <p class="paragraph-description">As part of a career change, I recently decided to dive into coding by following an intensive and captivating bootcamp to learn full-stack development, focusing on <span class="green">Ruby on Rails, HTML, CSS, SASS, Bootstrap, JavaScript, jQuery, relational DB design and SQL queries, Sinatra, git, GitHub, and hosting on Heroku</span> and I now found a field that passionates me! <br>
    I am now looking for a full-stack or back-end developer role with a focus on Ruby on Rails. <br>
    Graduated from EDHEC business school in 2018 with a double diploma in Business Management, I have previously worked in consulting, mostly in the retail industry. More recently, I worked in a software company as a customer success manager. </p>
  <h5 class="focus">Available</h5>
</div>
