<h3 class="section-title">Projects</h3>
<div id="project-section">
  <div class="project-card">
    <h5 class="quote">emitless</h5>
  </div>

  <div class="project-card">
    <h5 class="quote">re-useful</h5>
  </div>
</div>
