<div class="home-background-image">
  <%= image_tag "india", alt: "mac", class: 'home-image' %>
  <h2>Junior full-stack developer.</h2>
</div>

<div class="content">

  <div id="about-section">
    <h3 class="section-title">About</h3>
    <h5 class="quote">Junior full-stack developer, Ruby on Rails focused.</h5>
  </div>
</div>
