.experience-section {
}

.experience-card {
  width: 55vw;
  background-color: white;
  box-shadow: 7px 4px 8px -9px #000000;
  margin: 50px auto 20px auto;
  text-align: center;
  &:hover {
    box-shadow: 8px 5px 9px -9px #000000;
  }
}

.company-infos {
  text-transform: uppercase;
  padding: 16px 20px;
  border-bottom: 1px solid lightgrey;
  > h5 {
    margin: 0;
  }
}

.job-infos {
  padding: 16px 20px;
  margin-bottom: 40px;
}

.job-description {
  text-align: justify;
  margin: 0;
  line-height: 38px;
}

.job-date {
  text-align: left;
  margin: 0;
  padding-top: 16px;
}
