#skills-section {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
}

.skills-card {
  width: 55vw;
  background-color: white;
  box-shadow: 7px 4px 8px -9px #000000;
  margin: 50px auto 20px auto;
  &:hover {
    box-shadow: 8px 5px 9px -9px #000000;
  }
}

.skills-title {
  padding: 16px 20px;
  text-transform: uppercase;
  font-style: 30px;
  margin: 0;
  border-bottom: 1px solid lightgrey;
}

.skills-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 12px;
}

.skills-flex-dev {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 24px 12px;
}

.skill {
  text-align: center;
  margin: auto;
  > img {
    width: 50px;
    padding: 5px;
  }
  > p {
    margin: 0;
    padding: 8px;
  }
}
